<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Пользователи</title>
    <script>
        function addUser() {
            const userNameTextBox = document.getElementById('userName');
            const userLoginTextBox = document.getElementById('userLogin');
            const userPasswordTextBox = document.getElementById('userPassword');
            const userName = userNameTextBox.value;
            const userLogin = userLoginTextBox.value;
            const userPassword = userPasswordTextBox.value;
            const user = {name: userName, login: userLogin, password: userPassword}
            fetch('/api/user', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(user)
            });
            window.location.reload(false);
        }
    </script>
</head>
<body>
<h4>Cоздать пользователя</h4>
<input type="text" id="userName" placeholder="Введите имя пользователя"><br>
<input type="text" id="userLogin" placeholder="Введите логин пользователя"><br>
<input type="text" id="userPassword" placeholder="Введите пароль пользователя"><br>
<button onclick="addUser()">Добавить</button>
<h4>Получить список пользователей</h4>
<table style="width: 400px">
    <thead>
    <tr>
        <td style="width: 50px">Id</td>
        <td style="width: 150px">Имя</td>
        <td style="width: 200px">Логин</td>
        <td style="width: 250px">Пароль</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>${user.id}</td>
        <td>${user.name}</td>
        <td>${user.login}</td>
        <td>${user.password}</td>
    </tr>
    </tbody>
</table>
</body>
</html>